
﻿@using SEDC.PizzaApp.Models.ViewModels
@model PizzaDetailsViewModel

 <h2>Pizza Details:</h2>
<ul>
    <li>PizzaName: @Model.Name</li>
    <li>Price: @Model.Price</li>
    <li>Price: @Model.PizzaSize</li>
</ul>
 