
@using SEDC.PizzaApp.Models.ViewModels
@model List<PizzaViewModel>

    @{
        ViewData["Title"] = "List Of Pizzas";
    }

<h2>List of Pizzas</h2>
<table class="orderPizzaList">
    <tr>
        <th>PizzaName</th>
        <th>PizzaSize</th>
        <th>Price</th>
        <th>Details</th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>@Model.ElementAt(i).Name</td>
            <td>@Model.ElementAt(i).PizzaSize</td>
            <td>@Model.ElementAt(i).Price</td>
            <td>
                <a asp-action="Details" asp-route-id=@Model.ElementAt(i).Id>See Details</a>
            </td>
         </tr>
    }
</table>
<p>Toatal Pizzas: @ViewBag.TotalPizzas</p>
