html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.orderPizzaList{
    text-align: center;
    width: 40%;
}
.orderPizzaList td, th {
    border: 1px solid black;
}
.orderPizzaList th{
    background-color: darkgray;
}