html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#orderListTable{
    width: 100%;
}
#orderListTable td, th {
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}
#orderListTable th{
    background-color:darkgray;
}