@using SEDC.PizzaApp.Models.ViewModels
@model OrderDetailsViewModel

<h2>Order details: </h2>

<partial name="~/Views/Shared/Partials/_OrderDetailsPartial.cshtml" for=@Model />

@Html.ActionLink("Back to orders page", "Index")

<a asp-controller="Home" asp-action="Index">Back to home page</a>